<head>
 <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
</head>

<div class="content">

<h1>Sign in</h1>
<p> Dont have an account ? <%= link_to "Sign Up",new_user_registration_path %></p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<div class="clearfix">
  <%= f.label :email %><br />
<div class="input">  <%= f.email_field :email %></div>
</div>
<div class="clearfix">
  <%= f.label :password %><br />
<div class="input">  <%= f.password_field :password %></div>
</div>

<div class="clearfix">
  <% if devise_mapping.rememberable? -%>
   
<%= f.label :remember_me %>
<div class="input"><%= f.check_box :remember_me %> </div>
</div>
  <% end -%>
<div class="clearfix">
<input class="btn primary"<%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
