<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <meta name="description" content="">
    <meta name="author" content="">
     <%= stylesheet_link_tag    "application" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>

</head>

<body>
<!-- start of menu -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
	<a class="brand" href="#">First App</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
         	<ul class="nav secondary-nav">
                <% if signed_in? %>
		<li><p>Signed in as <%= current_user.email %></p></li>
		<li><%= link_to "Sign Out", destroy_user_session_path,:method=>	:delete %></li>
		<% else %>
                <li><%=link_to "Sign In",new_user_session_path%></li>
		<li><%=link_to "Sign Up",new_user_registration_path%></li>
		<% end %>
                </ul>
        </div>
      </div>
    </div>
<!-- end of menu -->

<!-- Start of main container -->
<!--required by devise -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!--end required-->
 <div class="container">
<%= yield %>
</div> <!-- End of main container -->
</body>
</html>

